body{
   overflow-x: hidden;
}
button {
   border: none;
   float: left;
}
.head{
   margin-top: -10px;
   left: 5px;
   position: fixed; 
   width: 1340px;
   background-color: white;
}
#src {
   text-align: center;
   top: 10%;
   left: 20%;
   padding: 15px;
   border-radius: 15px;
   border: solid;
   position: absolute;
   height: 20px;
   width: 800px;
   display: flex;
}
#hr{
   margin-top: 120px;
  
}

.s {
   width: 600px;
   border: none;
   outline: none;
   font-size: 20px;
}

.fa {
   padding-bottom: 20px;
}

#fa {
   font-size: 150%;
   padding: 10px;
   cursor: pointer
}

#far {
   font-size: 150%;
   padding: 10px;
   cursor: pointer
}

#farer {
   font-size: 150%;
   padding: 10px;
   cursor: pointer
}

#fa:hover {
   background-color: black;
   color: aliceblue;
   padding: 13px;
   transition: all 700ms ease-in-out;
}

#far:hover {
   background-color: black;
   color: aliceblue;
   padding: 13px;
   transition: all 700ms ease-in-out;
}

#farer:hover {
   background-color: black;
   color: aliceblue;
   padding: 13px;
   transition: all 700ms ease-in-out;
}

section {
   display: flex;
}



.c {
   border-radius: 0.4pc;
   justify-content: center;
   width: 350px;
   height: 200px;
}

h2 {
   margin: 0;
   margin-bottom: 0;
}

h2 {
   margin: 0;
   margin-top: 0;
}

h3 {
   margin-top: 2 px;
}

#sec {
   padding: 10px;
   justify-content: space-evenly;

}

#secsec {
   padding: 10px;
   justify-content: space-evenly;



}

.fi {
   color: gold;
   margin-top: -15px;
}

.h3 {
   padding-top: 0;
}



.f:hover {
   transform: scale(1.2);
   z-index: 2;
   cursor: pointer;
   transition: all 300ms ease-in-out;
   filter: brightness(300px);


}

#h1 {

   font-weight: 50;
   cursor: pointer;
}

.img-head { 
   width: 1340px;
   height: 600px;
}

footer{
   height: 300px;
   background-color: black;
   display: flex;
}

 .links {
   margin: 15px;
 
   color:grey;
   
 
}
.links a{
   text-decoration: none;
   color:grey;
   margin-top:0px;
}


footer a:hover{
color: white;

}
#description{
   color: rgb(194, 186, 186);
}
footer li:hover{
   color: aliceblue;
}

.img-top{
   width: 1340px;
}
.img-head{
   width: 100%;
   object-fit: cover;
}

.myslides{
   -webkit-animation: slide-right 0.5s cubic-bezier(0.250,0.460,0.450,0.940) ;
   animation: slide-right 0.5s cubic-bezier(0.250,0.460,0.450,0.940) ;
}
